<app-nav-bar></app-nav-bar>


<div class="container">

  <h1>WEEKLY SCHEDULE</h1>

  <div class="schedule-actions">
    <button class="schedule-btn reset-btn" (click)="resetSchedule()">Reset Schedule</button>
    <button class="schedule-btn save-btn" (click)="saveSchedule()">Save Schedule</button>
  </div>

  <div class="table-responsive schedule-table-container">
    <table class="schedule-table">

      <thead>
        <tr>
          <th class="emp-head">Employee</th>
          <th *ngFor="let day of days">{{day}}</th>
          <th>Total Hrs</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let emp of employees">
          <td class="employee-cell">
            {{emp}}
            <button class="delete-btn" (click)="deleteEmployee(emp)">
              <i class="bi bi-x-lg"></i>
            </button>
          </td>

          <td *ngFor="let day of days">
            <input type="text"
                   class="shift-input"
                   
                   [(ngModel)]="schedule[emp][day]"
                   (ngModelChange)="updateTotalHours(emp)">
          </td>

          <td>{{ schedule[emp].totalHours || 0 }}</td>
        </tr>
      </tbody>

      <tfoot>
        <tr class="fw-bold">
          <td [attr.colspan]="days.length + 1" class="text-end">Total Hours All Employees:</td>
          <td>{{ TotalHours }}</td>
        </tr>

        <tr class="fw-bold">
          <td [attr.colspan]="days.length + 1" class="text-end">Hourly Salary:</td>
          <td>{{ hourlyRate | currency }}</td>
        </tr>

        <tr class="fw-bold">
          <td [attr.colspan]="days.length + 1" class="text-end">Total Salary:</td>
          <td>{{ TotalSalary | currency }}</td>
        </tr>
      </tfoot>

    </table>
  </div>

  <!-- Add Employee -->
  <div class="inner-container">
    <div class="employee-input-container">
      <div class="mb-3 mt-5 d-flex gap-5 justify-content-between addemployee">
        <div class="d-flex justify-content-between w-100 addemployee">
          <input id="empInput" type="text" class="floating-input" placeholder="Enter Employee Name" [(ngModel)]="newEmployee" />
          <button class="add-btn" (click)="addEmployee()">Add Employee</button>
        </div>

        <div class="d-flex justify-content-between w-100 addemployee">
          <input #newRate type="text" class="floating-input" placeholder="Update Hourly Rate">
          <button class="add-btn" (click)="updateHourlyRate(newRate.value)">Update Rate</button>
        </div>
    </div>
    </div>
  </div>

</div>

