<!-- <app-nav-bar></app-nav-bar> -->


<div class="container">

  <h1>WEEKLY SCHEDULE</h1>

  <div class="schedule-actions">
    <button class="schedule-btn reset-btn" (click)="resetSchedule()">Reset Schedule</button>
    <button class="schedule-btn save-btn" (click)="saveSchedule()">Save Schedule</button>
  </div>

  <div class="table-responsive schedule-table-container">
    <table class="schedule-table">
  
      <thead>
        <tr>
          <th class="emp-head">Employee</th>
          <th *ngFor="let day of days">{{day}}</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let emp of employees">
          <td class="employee-cell">
            {{emp}}
            <button class="delete-btn" (click)="deleteEmployee(emp)">
              <i class="bi bi-x-lg"></i>
            </button>
          </td>
  
          <td *ngFor="let day of days">
            <div cdkDropList [id]="day + emp" [cdkDropListData]="schedule[emp][day]"
              [cdkDropListConnectedTo]="allDropListIds" class="dropBox"
              (cdkDropListDropped)="drop($event)">
              <div *ngFor="let shift of schedule[emp][day]" cdkDrag class="shift-badge">
                {{shift}}
              </div>
            </div>
          </td>
        </tr>
      </tbody>
  
    </table>
  </div>
  

  <h5>Available Shifts</h5>
  <div class="d-flex gap-2 mb-4" cdkDropList id="shiftList" [cdkDropListData]="shifts"
    [cdkDropListConnectedTo]="connectedDropLists" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let s of shifts; let i = index" cdkDrag class="badge p-2">{{s}} <button class="delete-btn" (click)="removeShift(i, $event)"><i class="bi bi-x-lg"></i></button></div>
  </div>

  <div class="inner-container">
    <div class="employee-input-container">
      <div class="floating-form">

        <input id="empInput" type="text" class="floating-input" placeholder=" " [(ngModel)]="newEmployee" />

        <label class="floating-label" for="empInput">Enter Employee Name</label>

        <button class="add-btn" (click)="addEmployee()">Add</button>

      </div>
    </div>

    <div class="shift-input-container">
      <div class="floating-form">

        <input id="shiftInput" type="text" class="floating-input" placeholder=" " [(ngModel)]="newShift" />

        <label class="floating-label" for="shiftInput">Enter Shift Timing</label>

        <button class="add-btn" (click)="addShift()">Add Shift</button>

      </div>
    </div>

  </div>
  
</div>