@import url('https://fonts.googleapis.com/css?family=Montserrat');

.container {
  min-height: 300px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 20px 0px;
    font-family: 'Montserrat', sans-serif;

    .logOutBtn {
      width: 50px;            
      height: 50px;
      border-radius: 50%;     
      display: flex;          
      align-items: center;    
      justify-content: center; 
      border: none;
      cursor: pointer;
      font-size: 24px;  
      transition: transform 0.2s, background-color 0.3s;
    }
    
    .logOutBtn:hover {
      background-color: #e7e7e7;
      transform: scale(1.1);
    }
}

}

.dispatch-group {
  display: flex;
  min-width: 36%;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  gap: 40px;

  h4 {
    margin-bottom: 0px;
  }


  .form-group {
    min-width: 50%;
      .form-control {
          border-radius: 0px;
      }
  }
}

.date-range-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0px;

    .dateContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 60%;

      label {
        min-width: 35%;
        margin-bottom: 0px;
      }
    }

    .dispatch-group {
      min-width: 40%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-family: 'Montserrat', sans-serif;
      gap: 40px;
    
      h4 {
        margin-bottom: 0px;
      }

      .form-group {
        min-width: 65%;
          .form-control {
              border-radius: 0px;
          }
      }
    }

}

button {
    border-radius: 8px;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
}
.shipmentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 10px;
    padding: 35px 0px;

    .card {
      width: 100%;
      .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: none;

        button {
          border: none;
        }
      
        table {
          width: 100%; 
          thead {
            tr {
              th {
                text-align: center;      
                vertical-align: middle; 
              }
            }
          }
          tbody {
            tr {
              td {
                text-align: center;      
                vertical-align: middle;  
              }
            }
          }
          }
        }
        .totalCost {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 60px;
        }
      }
}


 .offcanvas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .offcanvas-header {
      
       .offcanvas-title {
        font-family: 'Montserrat', sans-serif;
       }
    }
    .offcanvas-body {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .input-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 25%;

        label {
          width: 35%;
        }
        input {
          height: 50px;
        }
        select {
          min-height: 50px;
        }
      }

      button {
        border-radius: 0px;
        color: white;
        background-color: black; 
        width: 200px;
      }

      button:disabled {
        background-color: #f7f7f7;
        color: black;
        border: 1px solid black;
        cursor: not-allowed;
      }
      
    }
 }

.downloadBtn {
  padding: 25px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 }

 .fade-in {
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

 @media (max-width: 576px) {
  .container {
    .header {
      display: flex;
      align-items: center;
      gap: 20px 0px;

      .dispatch-group {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }
  }
  .date-range-container {
    gap: 30px 0px;

    .dateContainer {
      flex-direction: column;
      min-width: 100%;
      gap: 25px 0px;

      .d-flex {
        min-width: 100%;
      }
    }

    button {
      min-width: 100%;
    }
    .dispatch-group {
      min-width: 100%;
      .form-group {
        min-width: 100%;
      }
    }
}
  .shipmentContainer { 
    .card {
      width: 100%;

      .card-body {
        padding: 10px 5px;
      }
     }
  }
  .offcanvas {

    overflow-y: auto;
    .offcanvas-body {
      flex-direction: column;
      overflow-y: visible;
      gap: 25px 0px;
      .input-container {
        width: 100%;

        label {
          width: 50%;
        }
      }
      button {
        width: 100%;
      }
    }
  }  

} 

.nav-tabs{

  .nav-item {
  width: 50%;
  display: flex;
  justify-content: center;
  }
}

.nav-tabs .nav-link {

    border: 2px solid black;
    width: 95%;
    background: white;
    color: black;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;

}

.nav-tabs .nav-link.active {

  background: black;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  color: white;

}

.text-muted {
  text-align: center;
  margin-top: 50px;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(5px);}
  to {opacity: 1; transform: translateY(0);}
}

.list-box {
  border: 2px dashed #ccc;
  min-height: 250px;
  border-radius: 8px;
  padding: 10px;
  background: #f8f9fa;
}

.list-item {
  padding: 12px;
  margin: 8px 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: grab;
  transition: 0.2s;
}

.list-item:hover {
  background: #e9ecef;
}

.cdk-drag-preview {
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid #999;
  padding: 10px;
}

.purchaseConfirmationsBtn {
  margin-top: 25px;
  width: 100%;
  background: white;
  border: 1px solid #908b8b;
  border-radius: 6px;
}


  