<app-nav-bar></app-nav-bar>

<div class="container mt-3">
  <div class="header">
    <div><button class="logOutBtn" (click)="logout()" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Log Out"><i class="bi bi-arrow-left-circle"></i></button></div>
    <h3>Shipment Details</h3>

    <div [formGroup]="addItemsForm">
      <button btn btn-primary type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"><i class="bi bi-text-indent-left"></i></button>
  
      <div class="container offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">

        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasTopLabel" (click)="showAddProductDetails()">Add Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" (click)="closeForm()"></button>
        </div>
        <div *ngIf="AddProductDetails" class="offcanvas-body fade-in">
          <div class="input-container">
            <label for="itemName">Item Name :</label>
            <input type="text" class="form-control me-2" placeholder="Enter Item Name ..." formControlName="itemName">
          </div>
          <div class="input-container">
            <label for="unitPrice"> Unit Price :</label>
            <input type="text" class="form-control me-2" 
              placeholder="Add Unit Price" 
              formControlName="unitPrice"
              [disabled]="!addItemsForm.get('itemName')?.value">
          </div>
          <button btn btn-primary (click)="addProduct()" [disabled]="!addItemsForm.get('itemName')?.value || !addItemsForm.get('unitPrice')?.value">Add Item</button>
        </div>


        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasTopLabel" (click)="showUpdatePriceEle()">Update Price</h5>
        </div>

        <div *ngIf="updatePriceEle " class="offcanvas-body fade-in">
          <div class="input-container">
            <label for="itemName">Item Name :</label>
            <select id="selectItem" class="form-control" style="min-width: 100px;" placeholder="SelectItem"
                    formControlName="updateItem">
                <option class="selectOptions" value="" disabled selected>Select Item</option>

                <option *ngFor="let item of allItems" [value]="item"> {{ item }} </option>
            </select>
          </div>
          <div class="input-container">
            <label for="updateUnitPrice"> Unit Price :</label>
            <input type="text" class="form-control me-2" 
              placeholder="Add Unit Price" 
              formControlName="UpdatedUnitPrice">
          </div>
          <button btn btn-primary (click)="updatePrice()" [disabled]="!addItemsForm.get('updateItem')?.value || !addItemsForm.get('UpdatedUnitPrice')?.value">Update Item</button>
        </div>


        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasTopLabel" (click)="showDeleteProductElm()"> Delete Product </h5>
        </div>

        <div *ngIf="deleteProductEle" class="offcanvas-body fade-in">
          <div class="input-container">
            <label for="DeleteItem">Delete Item :</label>
            <select id="deleteItem" class="form-control" style="min-width: 100px;" placeholder="Select Delete Item"
                    formControlName="deleteItem">
                <option value="" disabled >Delete Item</option>

                <option *ngFor="let item of allItems" [value]="item"> {{ item }} </option>
            </select>
          </div>
          <div class="input-container">
            <label for="ConfirmDeleteItem">Confirm Item :</label>
            <select id="confirmDeleteItem" class="form-control" style="min-width: 100px;" placeholder="Confirm Delete Item"
                    formControlName="confirmDeleteItem">
                <option value="" disabled >Confirm Item</option>

                <option *ngFor="let item of allItems" [value]="item"> {{ item }} </option>
            </select>
          </div>
          
          <button btn btn-primary (click)="deleteItem()"  [disabled]="!addItemsForm.get('deleteItem')?.value || addItemsForm.get('deleteItem')?.value !== addItemsForm.get('confirmDeleteItem')?.value">Delete Item</button>
        </div>
        
      </div>
    </div>
  </div>



  <div class="date-range-container">
    <div class="dateContainer">
      <div class="d-flex align-items-center">
        <label for="startDate" class="form-label fw-semibold">Start Date</label>
        <input type="date" id="startDate" class="form-control" [formControl]="startDateControl">
      </div>
  
      <div class="d-flex align-items-center">
        <label for="endDate" class="form-label fw-semibold">End Date</label>
        <input type="date" id="endDate" class="form-control" [formControl]="endDateControl">
      </div>
  
      <button btn btn-primary (click)="applyFilters()">Apply Filter</button>
    </div>


    <div class="dispatch-group">
      <!-- <h4>Dispatched From</h4> -->
      <div class="form-group">
  
        <div class="dropdown">
      
          <!-- Dropdown Button -->
          <button class="btn btn-outline-secondary dropdown-toggle w-100" 
                  type="button"
                  data-bs-toggle="dropdown">
            {{ fromStoreControl.value || 'Select Location' }}
          </button>
      
          <!-- Dropdown Menu -->
          <ul class="dropdown-menu w-100">
            <li *ngFor="let loc of locations">
              <a class="dropdown-item"
                 (click)="selectLocation(loc)">
                {{ loc }}
              </a>
            </li>
          </ul>
      
        </div>
      
      </div>
      
    </div> 

    
   
  </div>

  <ng-template #noData>
    <p class="text-muted alert alert-secondary shadow rounded" role="alert">No shipment requests found.</p>
  </ng-template>
</div>


<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab">
        Shipment Details
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab">
        Purchase List
      </button>
    </li>
  </ul>

  <div class="tab-content mt-3" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel">
      <div>
        <h1 class="mt-5 d-flex justify-content-center ">{{shipmentFrom}} <i class="mx-5 bi bi-arrow-right"></i> {{shipmentTo}}</h1>
      </div>
      <div class="shipmentContainer" id="shipmentContainer" *ngIf="totalDispatchedItems!.length > 0; else noData">
        <div class="card mb-3 p-3 shadow-sm" *ngFor="let DispatchedItems of totalDispatchedItems; let i = index">
          <div class="card-header">
            <h5>{{ DispatchedItems.DispatchedDate | date:'dd MMM yyyy - EEEE'}}</h5>
            <button (click)="deleteShipment(DispatchedItems)"><i class="bi bi-x-square-fill"></i></button>
          </div>
          <div class="card-body">      
            <div *ngIf="DispatchedItems.shipmentItemsDetails && DispatchedItems.shipmentItemsDetails.length > 0">
              <table class="table table-bordered table-sm">
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let DispatchedItem of DispatchedItems.shipmentItemsDetails">
                    <td>{{ DispatchedItem.itemName }}</td>
                    <td>{{ DispatchedItem.quantity }}{{ DispatchedItem.unit }}</td>
                    <td>{{ DispatchedItem.unitPrice }} {{'CAD'}}</td>
                    <td>{{ DispatchedItem.totalPrice }} {{'CAD'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
            <div class="card-footer totalCost">
              <p class="mt-3"><strong>Total Cost :</strong> {{ DispatchedItems.shipmentGrandTotal }} {{'CAD'}}</p>
          </div>
    
        </div>
      </div>
      <div class="downloadBtn" *ngIf="totalDispatchedItems?.length">
        <button (click)="downloadPDF()">Download Details</button>
      </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel">
      <div class="container mt-4">
        <div class="row">
      
          <div class="col">
            <h5 class="text-center">Items to Purchase</h5>
            <div cdkDropList 
                 #listA="cdkDropList" 
                 [cdkDropListData]="ItemsToPurchase"
                 [cdkDropListConnectedTo]="[listB]"
                 class="list-box"
                 (cdkDropListDropped)="drop($event)">
      
                 <div class="list-item" *ngFor="let item of ItemsToPurchase" cdkDrag>
                  {{ item.name }} 
                  <span class="badge bg-secondary">
                    {{ item.docId === 'Madurai Pandiyas ItemsReq' ? 'MP' : 'MPE' }}
                  </span>
                </div>
      
            </div>
          </div>
      
          <div class="col">
            <h5 class="text-center">Purchased</h5>
            <div cdkDropList 
                 #listB="cdkDropList" 
                 [cdkDropListData]="PurchasedItems"
                 [cdkDropListConnectedTo]="[listA]"
                 class="list-box"
                 (cdkDropListDropped)="drop($event)">
      
              <div class="list-item" *ngFor="let item of PurchasedItems" cdkDrag>
                {{ item.name }} 
              </div>
            </div>
            <button [disabled]="PurchasedItems.length === 0" class="purchaseConfirmationsBtn" (click)="confirmPurchase()">Done</button>
          </div>
      
        </div>
      </div>
      
    </div>
  
  </div>
</div>
