@import url('https://fonts.googleapis.com/css?family=Montserrat');

img {
    width: 100%;
    height: 500px;
    overflow: hidden;
    object-fit: cover;
}

h1 {
    font-family: 'Montserrat';
    padding: 20px 0px;
}
.container-fluid {
    width: 70%;
    padding: 50px 0px;
    .accordion {
        .accordion-item {
            .accordion-header {
                .accordion-button {
                    font-family: 'Montserrat';
                }
            }
    
            .accordion-collapse {
                .accordion-body {
                    padding: 10px 0px;
                    .menu-items {
                        font-family: 'Montserrat';
    
                        table {
    
                            thead,
                            tbody {
                                border-style: none !important;
    
                                tr,
                                td {
                                    border-style: none !important;
                                    text-align: center;
    
                                    th {
                                        border-style: none !important;
                                        font-size: large;
                                        font-weight: bolder;
                                        font-family: 'Montserat';
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

@media (max-width: 576px) {
    .container-fluid {
         width: 95%;
    }
}