.parent-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    height: calc(100vh - 150px);
    overflow: auto;
    background: #d2d2d2;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* slightly darker for visibility */
  }
  
  .parent-container img {
    min-height: 500px;
    image-rendering: auto;       
    image-rendering: crisp-edges; 
    image-rendering: high-quality;
    border-radius: 10px;
  }
  
  .parent-container .logIn-container {
    min-width: 500px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    background: white;
    border-radius: 12px;
  }

  button {
    background: black;
    color: white;
    border: none;
    height: 50px;
    border-radius: 10px;
    margin-top: 15px;
  }

  @media (max-width: 576px) {
    .parent-container {
      display: flex;
      flex-wrap: wrap;
    }

    .parent-container img {
      min-height: 400px;
      border-radius: 15px;
    }

    .parent-container .logIn-container {
      min-height: 400px;
      min-width: 400px;
    }
  } 

  